
/* ANIMATIONS, TRANSITIONS, FILTERS you idiot <3 */
 /*  media q --- flex-direction, font-size, font-size, display-none
  do it for 3 screen types */

 /*  test, test, test */
 :root {
  --white-smoke:#f5f5f5;
  --cerulean:#28789F;
  --office-green:#338000;
  --sun-glow:#FDC835;
  --footer-color-gradient: linear-gradient(180deg, rgba(65,47,21,1) 0%, rgba(18,18,18,1) 100%);
  --indigo-dye:#194B63;
  --night:#121212;

  --padding-paragraphs: 50px 140px 50px 30px;
  --padding-content-sections: 80px;

 }

/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* button */

button {
  background-color: var(--office-green);
  border: none;
  border-radius: 20px;
  /* width: 200px;
  height: 95px; */
  width: fit-content;
  padding: 24px 64px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow:0px 5px 10px #183c00;
}

button a {
  color: var(--white-smoke);
  font-family:"futura-pt demi", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

button:hover {
  transform: translateY(-10px);
} 

/* The line below headings */

.line {
  width: 200px;
  height: 4px;
  background-color: var(--cerulean);
  margin: 18px auto 0;
  border-radius: 1.5px;
} 

/* text */
h1 {
  font-family: "cubano", sans-serif;
  font-weight: 400;
  font-size: 80px;
  color: var(--white-smoke);
  text-shadow: 1px 1px 3px #3b3b3b;
  text-align: center;
}

h2 {
  font-family: "futura-pt demi", sans-serif;
  font-weight: 400;
  font-size: 55px;
  text-transform: uppercase;
  color: var(--night);
}

h3 {
  font-family: "futura-pt demi", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: var(--white-smoke);
}

p {
  font-family: "greycliff-cf", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  margin: 18px 0;
}

/* containers */
.background-container {
  background-color: var(--white-smoke);
  height: auto;
  width: 100%;
}

.menu-container {
  background-color: var(--white-smoke);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  z-index: 1;
  position: fixed;
 }

.hero-container {
  /* background-color: var(--cerulean); */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(/img/plastic-bag-in-water.png); /* crop border and compress */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}

.inner-hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.container-split {
  display: flex;
  width: 100%;
  padding: var(--padding-content-sections);
  justify-content: space-between;
}

.inner-container-left {
  width: 50%;
  padding: var(--padding-paragraphs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-container-right {
  width: 50%;
}

.info-container {
  width: 90%;
  background-color: var(--cerulean);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: var(--padding-paragraphs);
  margin: 80px 0;
}

.button-container {
  display: flex;
  margin-bottom: 80px;
}

.button-container button {
  margin-right: 25px;
}
.button-container button:last-child {
  margin-right: 0;
}

.footer-container {
  background: var(--footer-color-gradient);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-content-sections);
  margin-top: 80px;
}


/* navigation */

.navigation {
  background-color: var(--white-smoke);
  position: relative;
}

#logo-navigation {
  width: 245px;
  height: auto;
}

.menu-container ul {
  display: flex;
  padding: 20px;
}

.menu-container ul li {
  list-style-type: none;
  font-family: "greycliff-cf", sans-serif;
  padding: 0 15px;
}

.menu-container ul li a {
  color: var(--night);
  text-decoration: none;
  font-size: 36px;
}

.menu-container ul li a:hover {
  color: var(--office-green);
  font-size: 38px;
}

/* Hero section*/

.hero-container h2 {
  color: var(--white-smoke);
  text-transform: none;
  margin-top: 15px;
  margin-bottom: 96px;
  text-shadow: 1px 1px 3px #3b3b3b;
  text-align: center;
}

/* .hero-container button {
  margin-bottom: 140px;
} */

/* .hero-container p {
  color: var(--white-smoke);
  margin-top: 80px;
} in case they don't like the motion option*/

/* motion motto text */

.re-plast-motto {
  overflow: hidden;
  white-space: nowrap;
  margin-top:96px;
  width: 100%;
  background-color:rgba(12, 12, 12, 0.650);
  padding:10px;
}

.re-plast-motto h3{
  display: inline-block;
  animation: scroll 7s linear infinite;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* About us section */

.about {
  height: fit-content;
}

.inner-container-right img{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;

  border-top: 8px solid var(--sun-glow);
  border-left: 5px solid var(--sun-glow);
  border-radius: 15px;
}

/* Environment */
.environment {
  height: fit-content;
}

.container-environment-information {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--padding-content-sections);
}

.container-environment-information img{
  height: 660px;
  width: 1100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;

  border-top: 8px solid var(--sun-glow);
  border-right: 5px solid var(--sun-glow);
  border-radius: 15px;
}


/* Our impact */
.impact {
  height: fit-content;
}

.video-impact {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--padding-content-sections);
}

.video-impact img {
  height: 660px;
  width: 1100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;

  border-bottom: 8px solid var(--sun-glow);
  border-left: 5px solid var(--sun-glow);
  border-radius: 15px;
}

.impact button {
  margin-bottom: 80px;
}

/* Volunteer */

.volunteer {
  height: fit-content;
}

.info-container p {
  color: var(--white-smoke);
}

/* Footer */

.footer {
  height: fit-content;
}

/* media queries */



@media (width <992px) {
  h1{
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  button a {
    font-size: 18px;
  }

  .footer-container {
    padding: 32px 12px;
  }
}

@media (width <576px) {
  .container-split {
    flex-direction: column;
  }
  .inner-container-left {
    width: 100%;
  }
  .inner-container-right {
    width: 100%;
  }

  h1{
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  button a {
    font-size: 16px;
  }

}



/* @media (width <992px) {} 

  @media (width <576px) {} 
*/